---
title: '{{Code}} Fight by Code-Story'
layout: app/layouts/default.html
nav2: selected
section: fight
tagline: whether you like it scripted, strongly typed, tested or cowboy style, vote right here, right now for your favourite source code. Show your language fanboyism, earn badges, stay fresh & cool!
---

<script src="/assets/js/prettify.js"></script>
<div id="code-fight" ng-controller="FightController">
    <div id="left" ng-class="left_class">
        <h2>[[fight.left.name]]</h2>

        <h3>[[fight.leftEloName]] ELO: <span class="score">[[fight.leftElo]]</span></h3>

        <a class="full" ng-click="full_left()" href="#"><i class="icon-fullscreen icon-white"></i></a>
        <a class="win" href="/win/left/[[fight.uniqueId]]">I prefer this one!</a>

        <div class="code">
            <script src="/gist/[[fight.left.name]].js"></script>
        </div>
    </div>
    <div id="right" ng-class="right_class">
        <h2>[[fight.right.name]]</h2>

        <h3>[[fight.rightEloName]] ELO: <span class="score">[[fight.rightElo]]</span></h3>

        <a class="full" ng-click="full_right()" href="#"><i class="icon-fullscreen icon-white"></i></a>
        <a class="win" href="/win/right/[[fight.uniqueId]]">I prefer this one!</a>

        <div class="code">
            <script src="/gist/[[fight.right.name]].js"></script>
        </div>
    </div>
</div>