---
title: Code-Story Team
layout: app/layouts/default.html
nav3: selected
section: team
tagline: coming soon...

david: http://gravatar.com/avatar/f0887bf6175ba40dca795eb37883a8cf?s=240
jeanlaurent: http://gravatar.com/avatar/649d3668d3ba68e75a3441dec9eac26e?s=240
eric: http://gravatar.com/avatar/77da98419ae312eb0e322a3dac44a734?s=240
sebastian: http://gravatar.com/avatar/492d722c2d77a5816f0e600bd2c3a9f5?s=240
xavier: http://gravatar.com/avatar/823cc38b227e3b03babd0b3e4642f8f1?s=240
christophe: http://gravatar.com/avatar/5a9a33e6c0397ed112a7c955728f3a1f?s=240
---

<div id="seasons" ng-controller="TeamController">
    <section class="season">
        <h1>Season S03 - September 2013</h1>
        <a ng-click="show_bio('david')" href="#"><img src="[[david]]"/></a>
        <a ng-click="show_bio('jeanlaurent')" href="#"><img src="[[jeanlaurent]]"/></a>
    </section>

    <section class="season">
        <h1>Season S02 - January 2013 to March 2013 </h1>
        <a ng-click="show_bio('sebastian')" href="#"><img src="[[sebastian]]"/></a>
        <a ng-click="show_bio('eric')" href="#"><img src="[[eric]]"/></a>
        <a ng-click="show_bio('jeanlaurent')" href="#"><img src="[[jeanlaurent]]"/></a>
        <a ng-click="show_bio('david')" href="#"><img src="[[david]]"/></a>
        <img src="/assets/img/plus.png"/>
        <a ng-click="show_bio('xavier')" href="#"><img src="[[xavier]]"/></a>
        <a ng-click="show_bio('christophe')" href="#"><img src="[[christophe]]"/></a>
    </section>

    <section class="season">
        <h1>Season S01 - November 2011 to November 2012 </h1>
        <a ng-click="show_bio('david')" href="#"><img src="[[david]]"/></a>
        <a ng-click="show_bio('jeanlaurent')" href="#"><img src="[[jeanlaurent]]"/></a>
        <img src="/assets/img/plus.png"/>
        <a ng-click="show_bio('eric')" href="#"><img src="[[eric]]"/></a>
        <a ng-click="show_bio('sebastian')" href="#"><img src="[[sebastian]]"/></a>
    </section>

    <article ng-cloak class="bio" ng-show="bio_class['david']" ng-animate="'fade'">
        <a class="minimize" ng-click="show_bio('')" href="#"><img src="/assets/img/small.png"></a>
        [[>app/bio/david.html]]
    </article>

    <article ng-cloak class="bio" ng-show="bio_class['jeanlaurent']" ng-animate="'fade'">
        <a class="minimize" ng-click="show_bio('')" href="#"><img src="/assets/img/small.png"></a>
        [[>app/bio/jeanlaurent.html]]
    </article>

    <article ng-cloak class="bio" ng-show="bio_class['eric']" ng-animate="'fade'">
        <a class="minimize" ng-click="show_bio('')" href="#"><img src="/assets/img/small.png"></a>
        [[>app/bio/eric.html]]
    </article>

    <article ng-cloak class="bio" ng-show="bio_class['sebastian']" ng-animate="'fade'">
        <a class="minimize" ng-click="show_bio('')" href="#"><img src="/assets/img/small.png"></a>
        [[>app/bio/sebastian.html]]
    </article>

    <article ng-cloak class="bio" ng-show="bio_class['xavier']" ng-animate="'fade'">
        <a class="minimize" ng-click="show_bio('')" href="#"><img src="/assets/img/small.png"></a>
        [[>app/bio/xavier.html]]
    </article>

    <article ng-cloak class="bio" ng-show="bio_class['christophe']" ng-animate="'fade'">
        <a class="minimize" ng-click="show_bio('')" href="#"><img src="/assets/img/small.png"></a>
        [[>app/bio/christophe.html]]
    </article>
</div>
