<!DOCTYPE html>
<html lang="en" ng-app="codestory">
<head>
    <title class="ng-non-bindable">[[title]]</title>
    <meta charset='utf-8'>
    <link href="/assets/css/style.less" rel="stylesheet">
    <meta name="google-site-verification" content="ITbb7rUrFerG27zt8cc2G9Sz_mDmyXdDvyEwlOW2kv8"/>
    <link rel='shortcut icon' type='image/png' href='/assets/img/apple-touch-icon-114x114.png'/>
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/apple-touch-icon-114x114.png"/>
</head>

<body>
<header>
    <nav>
        <a class="nav_link [[nav1]]" id="blog" href="/blog/" target="_self">
            <img src="/assets/img/blog.png"/>
        </a>
        <a class="nav_link [[nav2]]" id="fight" href="/fight/" target="_self">
            <img src="/assets/img/fight.png"/>
        </a>
        <a class="nav_link [[nav3]]" id="team" href="/team/" target="_self">
            <img src="/assets/img/team.png"/>
        </a>
        <a class="nav_link [[nav4]]" id="contest" href="/contest/" target="_self">
            <img src="/assets/img/contest.png"/>
        </a>
    </nav>

    <div id="title" class="[[section]]">
        <a href="/[[section]]/"><img src="/assets/img/logo-[[section]].png"/></a>

        <p>[[tagline]]</p>
    </div>
</header>

<div id="main">
    [[body]]
</div>

<script type="text/javascript">
    /* <![CDATA[ */
    (function () {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
    /* ]]> */
</script>

<footer>
    <section>
        <h5>Designed by<br/>Code-Story</h5>
        <a href="#">Mentions Légales</a>
        <br/>
        <a class="mailto" href="mailto:all@code-story.net">all@code-story.net</a>
    </section>
    <section>
        <h5>Powered by</h5>
        <br/>
        <a href="http://www.cloudbees.com/"><img src="/assets/img/cb.png"/></a>
    </section>
    <section>
        <h5>Social</h5>
        <br/>
        <a id="twitter" href="https://twitter.com/codestory">Twitter</a>
        <a class="FlattrButton" style="display:none;" href="http://code-story.net/"></a>
    </section>
</footer>
</body>
