<!DOCTYPE html>
<html>
<head>
    <title>{{Code}} Fight by Code-Story</title>
    <meta charset='utf-8'>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/flat-ui.css" rel="stylesheet">
    <link href="/assets/css/style.less" rel="stylesheet">
</head>
<body>
<header>
    <ul id="menu_left">
        <li class="blog">
            <img src="/assets/images/blog_black.png"/>
        </li>
        <li class="fight selected">
            <img src="/assets/images/code-story-small.png"/>
        </li>
    </ul>

    <div id="title">
        <img src="/assets/images/code_fight.png"/>

        <p>
            Whether you like it scripted, strongy typed, tested or cowboy style,
            vote right here, right now for your favourite source code.
        </p>

        <p>
            Show your language fanboyism, earn badges, stay fresh & cool!
        </p>
    </div>

    <ul id="menu_right">
        <li class="codestory">
            <img src="/assets/images/team_black.png"/>
        </li>
        <li class="contest">
            <img src="/assets/images/contest_black.png"/>
        </li>
    </ul>
</header>

<div class="main">
    [[body]]
</div>

</body>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script>!function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, 'script', 'twitter-wjs');
</script>
<script type="text/javascript">
    /* <![CDATA[ */
    (function () {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
    /* ]]> */
</script>
</html>