<!DOCTYPE html>
<html>
<head>
    <title>{{Code}} Fight by Code-Story</title>
    <meta charset='utf-8'>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/flat-ui.css" rel="stylesheet">
    <link href="/assets/css/style.less" rel="stylesheet">
</head>
<body>
<header>
    <ul id="menu_left">
        <li class="blog">
            <img src="/assets/img/blog.png"/>
        </li>
        <li class="fight selected">
            <img src="/assets/img/code-story.png"/>
        </li>
    </ul>

    <div id="title">
        <img src="/assets/img/code_fight_large.png"/>

        <p>
            Wether you like it scripted, strongly typed, tested or cowboy style,
            vote right here, right now for your favourite source code.
        </p>

        <p>
            Show your language fanboyism, earn badges, stay fresh & cool!
        </p>
    </div>

    <ul id="menu_right">
        <li class="codestory">
            <img src="/assets/img/team.png"/>
        </li>
        <li class="contest">
            <img src="/assets/img/contest.png"/>
        </li>
    </ul>
</header>

[[body]]

<footer>
</footer>

</body>
