<!DOCTYPE html>
<html ng-app>
<head>
    <title class="ng-non-bindable">[[title]]</title>
    <meta charset='utf-8'>
    <link href="/assets/css/style.less" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <a class="nav_link [[nav1]]" id="blog" href="/blog">
            <img src="/assets/img/blog.png"/>
        </a>
        <a class="nav_link [[nav2]]" id="fight" href="/fight">
            <img src="/assets/img/fight.png"/>
        </a>
        <a class="nav_link [[nav3]]" id="team" href="/team">
            <img src="/assets/img/team.png"/>
        </a>
        <a class="nav_link [[nav4]]" id="contest" href="/contest">
            <img src="/assets/img/contest.png"/>
        </a>
    </nav>

    <div id="title" class="[[section]]">
        <img src="/assets/img/logo-[[section]].png"/>

        <p>[[tagline]]</p>
    </div>
</header>

<div id="main">
    [[body]]
</div>

<footer>
    <section>
        <h5>Designed by<br/>CodeStory</h5>
        <a href="#">Mentions Légales</a>
        <br/>
        <a class="mailto" href="mailto:all@code-story.net">all@code-story.net</a>
    </section>
    <section>
        <h5>Social</h5>
        <br/>
        <a href="http://code-story.net/">Blog</a>
        <br/>
        <a href="https://twitter.com/codestory">Twitter</a>
    </section>
    <section>
        <h5>Powered by</h5>
        <br/>
        <a href="http://www.cloudbees.com/"><img src="/assets/img/cb.png"/></a>
    </section>
</footer>

<script src="/assets/js/angular.min.js"></script>
<script src="/assets/js/controllers.coffee"></script>

</body>
