@back_blue: #2C3E50;
@footer_blue: #34495E;

@orange: #E67E22;
@blue: #2980B9;
@green: #1ABC9C;
@red: #E74C3C;
@gist_blue: #2980B9;
@white: #FFFFFF;

[ng-cloak] {
  display: none !important;
}

html, body, header, footer, img {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: @back_blue;
  color: @white;
  border-style: solid;
  border-color: @back_blue;
  border-right-width: 10px;
  border-left-width: 10px;
  border-top-width: 10px;
  font-family: sans-serif;
}

a {
  color: @white;
  text-decoration: none;
}

h1 {
  font-size: large;
}

h3 {
  font-size: medium;
}

header {
  position: relative;
  height: 350px;

  .nav_link {
    position: absolute;
    opacity: .5;
    width: 170px;
    height: 170px;

    img {
      width: 170px;
      height: 170px;
    }
  }

  .nav_link:hover {
    opacity: 1;
  }

  .selected {
    opacity: .8;
    background-color: @back_blue !important;

    img {
      display: none;
    }
  }

  .selected:after {
    content: "Designed by CodeStory";
    text-align: center;
    vertical-align: middle;
    padding: 66px 20px 0 20px;
    font-style: italic;
    width: 130px;
    height: 104px;
    display: block;
  }

  #blog {
    top: 0;
    left: 0;
  }

  #fight {
    top: 180px;
    left: 0;
  }

  #team {
    top: 0;
    right: 0;
  }

  #contest {
    top: 180px;
    right: 0;
  }

  #title.blog, #blog {
    background-color: @orange;
  }

  #title.fight, #fight {
    background-color: @gist_blue;
  }

  #title.team, #team {
    background-color: @green;
  }

  #title.contest, #contest {
    background-color: @red;
  }

  #title {
    height: 100%;
    margin: 0 180px;
    text-align: center;
    overflow-y: hidden;
    overflow: hidden;

    img {
      width: 180px;
      height: 180px;
      margin: 27px 0;
    }

    p {
      font-size: large;
      margin: 0 20px;
    }
  }
}

#main {
  min-height: 400px;
}

#code-fight {
  margin-top: 10px;
  width: 100%;

  #left, #right {
    background-color: #2980B9;
    width: 49.8%;
    position: relative;
    text-align: center;
    overflow: hidden;
    .transition(.5s);

    h2, h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 18px 50px;
    }

    a.win {
      font-size: medium;
      background-color: #2ecc71;
      padding: 12px 18px 13px;
      display: block;
      width: 150px;
      margin: 10px auto 0 auto;
      .rounded(6px);
    }

    .full {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 32px;
      height: 32px;
      background-color: #2980B9;
      background-image: url('/assets/img/full.png');
      background-size: 32px 32px;
    }

    .code {
      padding: 20px 5px 0 5px;
      text-align: left;

      .gist-data {
        padding: 5px;
      }

      .line-numbers, .gist-meta {
        display: none;
      }
    }
  }

  #left {
    float: left;
  }

  #right {
    float: right;
  }

  .full_screen {
    width: 80% !important;

    .full {
      background-image: url('/assets/img/small.png') !important;
    }
  }

  .hidden {
    width: 19.5% !important;
  }
}

#captcha {
  margin: 50px auto;
  width: 500px;
  height: 300px;
}

#seasons {
  padding-top: 40px;

  .season {
    margin-bottom: 40px;

    img {
      width: 120px;
      height: 120px;
      margin-right: 5px;
      .rounded();
    }
  }

  .bio {
    width: 700px;
    height: 520px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -260px 0 0 -350px;
    background-color: #2980B9;
    text-align: justify;
    font-size: larger;
    padding-top: 40px;

    p, h1 {
      padding: 10px 30px 5px 30px;
      font-weight: normal;
    }

    a {
      text-decoration: underline;
    }

    .social {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 680px;
      height: 32px;
      text-align: right;

      img {
        width: 32px;
        height: 32px;
      }
    }

    .minimize {
      position: absolute;
      top: 10px;
      right: 10px;

      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}

#blog {
  .season {
    article {
      position: relative;
      float: left;
      width: 284px;
      height: 84px;
      margin-right: 5px;
      margin-bottom: 5px;
      background-color: @footer_blue;

      a {
        width: 84px;
        height: 84px;
        display: block;

        img {
          position: absolute;
          top: 10px;
          left: 10px;
          width: 64px;
          height: 64px;
          float: left;
        }
      }

      .title, .episode {
        position: absolute;
        left: 95px;
        overflow: hidden;
        width: 175px;
      }

      .title {
        top: 10px;
        height: 38px;
      }

      .episode {
        top: 50px;
        font-style: italic;
        text-transform: uppercase;
      }
    }

    .break {
      clear: both;
      height: 50px;
    }
  }

  .season1 a {
    background-color: @orange;
  }

  .season2 a {
    background-color: @green;
  }

  .season3 a {
    background-color: @red;
  }
}

#post {
  width: 860px;
  margin: 30px auto 0 auto;
  color: black;
  background-color: @white;

  .content {
    padding: 30px;
    min-height: 450px;

    h1 {
      font-size: xx-large;
    }

    .plusone {
      height: 27px;
    }

    a {
      color: @blue;
      text-decoration: underline;
    }

    img {
      margin: 0 auto;
      display: block;
    }

    ul {
      margin-bottom: 5px;
      text-align: left;

      img {
        margin: 0;
        display: inline-block;
      }
    }

    pre {
      background-color: #ecf0f1;
      border: 1px solid #95a5a6;
      padding: 5px;
    }
  }
}

footer {
  clear: both;
  height: 300px;
  background-color: @footer_blue;
  border-style: solid;
  border-color: @back_blue;
  border-top-width: 10px;
  line-height: 25px;
  overflow: hidden;

  section {
    width: 220px;
    float: left;
    margin-left: 20px;

    h5 {
      text-transform: uppercase;
      font-size: large;
      margin-bottom: 20px;
    }

    a.mailto {
      color: @orange;
    }
  }
}

.fade-hide, .fade-show {
  .transition();
}

.fade-hide, .fade-show.fade-show-active {
  opacity: 1;
}

.fade-hide.fade-hide-active, .fade-show {
  opacity: 0;
}

.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}

