@red: #FF0000;

[ng-cloak] {
  display: none !important;
}

body {
  background-color: #3498DB;

  header {
    background-color: white;
    position: relative;
    height: 100px;
    text-align: center;

    ul {
      top: 0;
      overflow: hidden;
      width: 100%;
      height: 100px;
      margin: 0;
      border-bottom: 1px solid #7F8C8D;
      background-color: white;
      position: absolute;

      li {
        width: 180px;
        height: 80px;
        list-style: none;
        padding: 20px 0 0 0;
        float: left;
        border-right: 1px solid #7F8C8D;
        border-bottom: 1px solid #7F8C8D;
        font-size: x-large;
        text-transform: uppercase;

        a {
          color: #7F8C8D;
          text-decoration: none;
          cursor: pointer;
        }

        a:hover {
          color: #34495E;
        }

        em {
          color: #2980B9;
          font-size: large;
          text-transform: none;
        }

        #___plusone_0, .g-plusone, .FlattrButton, .twitter-share-button {
          margin: 0 25px 6px 0 !important;
          float: right !important;
        }
      }

      li.social {
        padding-top: 13px;
        height: 87px;
      }

      li:hover {
        background-color: #ECF0F1;
      }

      li.first {
        padding: 0px;
        height: 100px;
        img {
          height: 100px;
        }
      }

    }

    .fixed {
      position: fixed;
      top: 0;
    }

    .fixed_stop {
      position: absolute;
      top: 450px;
    }
  }

  #title {
    padding-top:10px;
    padding-bottom:30px;
    background-color: #2980B9;
    display: block;
    color: white;
    text-align: center;

    img {
      width:150px;
      height:150px;
    }

    p.main {
      font-size: xx-large;
      margin-top:20px;
      margin-bottom:20px;
    }

    p {
      padding-left:50px;
      padding-right:50px;
      display: block;
      font-size: large;
    }


  }

  #fight {
    position: relative;
    margin-top: 30px;

    #left {
      position: absolute;
      left: 0;

      .code {
        padding: 0 5px 0 10px;
      }
    }

    #right {
      position: absolute;
      right: 0;

      .code {
        padding: 0 10px 0 5px;
      }
    }

    #left, #right {
      width: 50%;
      min-height: 1000px;

      .header {
        text-align: center;
        margin-bottom: 40px;

        h2 {
          color: white;
        }

        h3 {
          font-size: medium;
        }
      }

      .code {
        .gist-data {
          padding: 5px;
        }

        .line-numbers, .gist-meta {
          display: none;
        }
      }
    }

    #left:hover, #right:hover {
      width: 85%;
      background-color: darken(#3498DB, 5%);
      z-index: 1000;

      .transition(width .5s, background-color .5s);
    }

    #left:hover {
      -webkit-border-top-right-radius: 50px;
      -moz-border-radius-topright: 50px;
      border-top-right-radius: 50px;
    }

    #right:hover {
      -webkit-border-top-left-radius: 50px;
      -moz-border-radius-topleft: 50px;
      border-top-left-radius: 50px;
    }
  }

  #captcha {
    margin: 50px auto;
    color: white;
    width: 800px;
    font-size: x-large;
  }
}

.transition(@property1, @property2) {
  -webkit-transition: @property1, @property2;
  -moz-transition: @property1, @property2;
  -o-transition: @property1, @property2;
  transition: @property1, @property2;
  -webkit-backface-visibility: hidden;
}
